@charset "UTF-8";

body {
            font-family: Arial, sans-serif;
            padding: 20px;
            text-align: centre;
            }
        

       .titulo{
            color: #333;
        }

        img {
		   width: 4rem;
           margin-top: 20px         
        }

        ul {
           
            padding: 0;
        }

        li {
            margin: 10px ;
        }

       p{
	   weight: 10%;
	   }
	   img:hover{
       width: 8rem;
		 
	   }